src/main/app/test2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="test2Flow">
        <http:listener config-ref="HTTP_8888" path="/test2" metadata:id="a3e01073-b1e1-4070-b9b6-ec49b2c4d42e" doc:name="HTTP"/>
        <dw:transform-message metadata:id="8ae6cec5-5e91-4d7b-883f-f4dd02ad1464" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
    order: {
        product: {
            price: payload.order.product.price as :string,
            model: payload.order.product.model
        },
        payment: {
            payment-type: payload.order.payment.payment-type,
            currency: payload.order.payment.currency,
            installments: payload.order.payment.installments as :string
        }
    }
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
